
ul#menu{
    padding: 0;
    list-style-type: none;
    width: 960px;
    background-color: #4e4e4e;
    border-bottom: 5px solid orange;
    min-height: 38px;
    margin: 0 auto;

}
ul#menu li{
    float: left;
    border-right: 1px solid #605b60;
    border-left: 1px solid #2b2a2a;
    position: relative;
    
}
ul#menu li:last-child{
    border-right: none;
}
ul#menu li :first-child{
    border-left: none;
}
ul#menu li a{
    color: white;
    text-decoration: none;
    background-color: #4e4e4e;
    padding: 10px 20px;
    display: block;
    transition: 0.3s all ease;
}
ul#menu li a:hover{
    background: orange;
    color: blanchedalmond;
}
ul#menu li ul{
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: -99999px;
}
ul#menu li :hover ul{
    left: 0;
}
ul#menu li ul li{
    float: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid #605b60;
    border-bottom: 1px solid #2b2a2a;
    width: 200px;
}

.wrapper{
    width: 960px;
    margin: 5px auto;
}
.box{
    width: 300px;
    float: left;
    margin-right: 30px;
}
.box img{
    width: 300px;
    height: 180px;
}
.nomargin{
    margin-right: 0px;
}
.box h1{
    background-color: rgba(32, 29, 29, 0.836);
    color: rgb(226, 199, 196);
    text-align: center;
}
.box p{
    text-align: justify;
}
.box a{
    text-decoration: none;
    background-color: rgb(245, 8, 8);
    color: rgb(238, 230, 222);
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    transition: all 1s ease;
}
.box a:hover{
    background: black;
    color: blanchedalmond;
}